      <div class="dynamic-layout-item dynamic-layout-col-4 bootcards-cards">
      
        <div class="panel panel-default">
          <div class="panel-heading clearfix">
            <h3 class="panel-title pull-left">Business Card</h3>
              <a class="btn btn-default pull-right" href="#" ng-click='externalScope().delete($index)'>
                <span class="glyphicon glyphicon-remove"></span>
              </a>
            </div>
            <div class="list-group">
              <div class="list-group-item">
                <p class="list-group-item-text">Name</p>
                <h4 class="list-group-item-heading">John Smith</h4>
              </div>
              <div class="list-group-item">
                <p class="list-group-item-text">Occupation</p>
                <h4 class="list-group-item-heading">Web Developer</h4>
              </div>
              <div class="list-group-item">
                <p class="list-group-item-text">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nullam mauris tellus, vehicula ut tellus id, suscipit dapibus tortor. Integer viverra turpis ac fringilla hendrerit. Sed faucibus posuere felis et pellentesque. Cras varius tortor vitae molestie tempor. Proin ut viverra elit, ac gravida tortor.</p>
              </div>
            </div>
          <div class="panel-footer">
            <small>Created on {{it.added | date:'medium'}}</small>
          </div>
        </div>
    </div>