      <div class="isogrid-item isogrid-col-4 bootcards-cards" ng-controller="Work1Controller">
      
        <div class="panel panel-default">
          <div class="panel-heading clearfix">
            <h3 class="panel-title pull-left">Consultant at Mars Express</h3>
              <a class="btn btn-primary pull-right" href="#" ng-click='externalScope().delete($index)'>
                <i class="fa fa-pencil"></i>
                X
              </a>
            </div>
            <div class="list-group">
              <div class="list-group-item">
                <p class="list-group-item-text">Name</p>
                <h4 class="list-group-item-heading">John Smith</h4>
              </div>
              <div class="list-group-item">
                <p class="list-group-item-text">Occupation</p>
                <h4 class="list-group-item-heading">Web Developer</h4>
              </div>
              <div class="list-group-item">
                <p class="list-group-item-text">
                    Hi, {{it.data.firstname}}. A nice exprience that has allowed me to discover new 
                    practives in the Space Shuttle industry and to 
                    <span ng-show='!showingMoreText'>...</span>
                    <span ng-show='showingMoreText'>
                    let me illustrate how an item expands and how other items rearrange around it.
                    Thank you for reading this very interesting text
                    </span>
                </p>
              </div>
            </div>
          <div class="panel-footer">
             <button class="btn" ng-show='!showingMoreText' ng-click='showingMoreText=true'>More</button>
             <button class="btn" ng-show='showingMoreText' ng-click='showingMoreText=false'>Less</button>
          </div>
        </div>
    </div>