    <div class="isogrid-item isogrid-col-8 bootcards-cards">

        <div class="panel panel-default bootcards-media">
          <div class="panel-heading clearfix">
            <h3 class="panel-title pull-left">Work Experience</h3>
              <a class="btn btn-default pull-right" href="#" ng-click='externalScope().delete($index)'>
                <span class="glyphicon glyphicon-remove"></span>
              </a>
          </div>
          <div class="panel-body">
            Media card description lorem ipsum dolor est compendium
          </div>
          <img layout-on-load ng-src='http://3.bp.blogspot.com/_tR4ydijURnA/THEamgS1JtI/AAAAAAAAB0Y/DiIkJkk7gn0/s1600/200708045331-1797.jpg' class="img-responsive"/>

          <div class="panel-footer">
              <small class="pull-left">Created on {{it.added | date:'medium'}}</small>
          </div>
        </div>
    </div>