      <div class="isogrid-item isogrid-col-4 bootcards-cards">
      
        <div class="panel panel-default">
          <div class="panel-heading clearfix">
            <h3 class="panel-title pull-left">CEO of RDE</h3>
              <a class="btn btn-primary pull-right" href="#" ng-click='externalScope().delete($index)'>
                <i class="fa fa-pencil"></i>
                X
              </a>
            </div>
            <div class="list-group">
              <div class="list-group-item">
                <p class="list-group-item-text">Another example of card to add to your profile</p>
              </div>
              <div class="list-group-item">
                <p class="list-group-item-text">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nullam mauris tellus, vehicula ut tellus id, suscipit dapibus tortor. Integer viverra turpis ac fringilla hendrerit. Sed faucibus posuere felis et pellentesque. Cras varius tortor vitae molestie tempor. Proin ut viverra elit, ac gravida tortor.</p>
              </div>
            </div>
          <div class="panel-footer">
            <small>Built with Bootcards - Base Card</small>
          </div>
        </div>
    </div>
